sudo: false
# Default python version is no longer 2 but 3.6 or later
language: python
# Be specific about which Python version to use for test runs
python:
  - "2.7"
cache:
  directories:
    - $HOME/.pip-cache/
env:
  - TOX_ENV=py26
  - TOX_ENV=py26-withlxml
  - TOX_ENV=py27
  - TOX_ENV=py27-withlxml
  - TOX_ENV=docs
install:
  - pip install --upgrade pip
  - pip install tox
script:
  - tox -e $TOX_ENV
after_script:
  - cat .tox/$TOX_ENV/log/*.log
